/node_modules/
/dist/
/coverage/
*.tsbuildinfo
*.tfstate
*.tfstate.*
/terraform/.terraform/
/terraform/*.tfstate
/terraform/*.tfstate.*
/terraform/terraform.tfvars
/.idea/
/tmp/
.env.local
.env*.local
